@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalam:wght@300;400;700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-navy: #102c57;
  --color-night: #183a6de6;
  --color-blue: #1d9ede;
  --color-pink: #ffb1b1;
  --color-light: #ffcbcb;
  --font-kalam: "Kalam", cursive;
  --font-montserrat: "Montserrat", sans serif;
  --font-inter: "Inter", sans serif;
  --font-krona-one: "Krona One", sans serif;
  --font-baumans: "Baumans", system-ui;
}

* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: var(--color-navy);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 1rem 0.25rem 1rem;
  padding: 1rem;
  align-items: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: inherit;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  height: 3%;
  position: relative;
}

.header-logo {
  padding-top: 0.625rem;
  margin: 0 2rem;
  width: 4rem;
}

.header-titulo {
  color: white;
  align-self: center;
  font-family: var(--font-baumans);
  font-size: 3.5rem;
  font-weight: 25rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 5%;
  margin: 2rem 1rem 0.25rem 1rem;
}

textarea {
  border-radius: 0.625rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

textarea:focus {
  outline: none;
}

#input-txt-area {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-navy);
  border: none;
  font-size: 2rem;
  font-family: var(--font-kalam);
  color: var(--color-light);
  text-transform: lowercase;
  width: 22rem;
  margin-left: 1.5rem;
  margin-right: 2rem;
}

#input-txt-area::placeholder {
  color: var(--color-night);
}

.info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1.5rem 0;
}

#info-exclamation {
  width: 1.125rem;
  /* display: flex; */
}

#info-text {
  color: var(--color-light);
  font-family: var(--font-montserrat);
  font-size: 0.75rem;
  /* font-weight: 6.25rem; */
}

/* .output-div {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-content: center;
  margin-left: 6rem;
} */

#output-txt-area {
  border: 0.125rem dashed var(--color-pink);
  background-color: var(--color-night);
  background-image: url("./img/panda-small-img.png");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-wrap: wrap;
  position: static;
  color: var(--color-pink);
  padding: 1.25rem;
  margin: 2rem;
  width: 20rem;
  height: 25rem;
  font-size: 1.5rem;
}

#output-txt-area::placeholder {
  color: var(--color-pink);
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  margin-left: 1rem;
}

.botones {
  margin-top: 1.125rem;
  padding: 1.5rem;
  border-radius: 0.625rem;
  border: 0.1rem solid;
  font-family: var(--font-montserrat);
  font-weight: 600;
  text-align: center;
  width: 12rem;
  height: 4rem;
}

.botones:hover {
  cursor: pointer;
}

.botones-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

#btn-encriptar {
  background-color: var(--color-blue);
  border-color: var(--color-light);
  color: var(--color-navy);
  /* font-size: 1rem;
  font-weight: 25rem;
  padding: 1.5rem;
  width: 12.5; */
}

#btn-desencriptar {
  background-color: var(--color-navy);
  border-color: var(--color-light);
  color: var(--color-pink);
  /* font-size: 1rem;
  width: 12.5rem; */
}

/* #btn-copiar {
  display: flex;
  flex-flow: column;
  background-color: var(--color-light);
  border-color: var(--color-night);
  color: var(--color-navy);
  width: 6.25rem;
  height: auto;
} */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  font-size: 1rem;
  padding-top: 0.938rem;
  position: relative;
  width: 100%;
  height: 2%;
  gap: 1rem;
}

.footer-bamboo {
  background: none;
  size: 1.125rem;
}

.footer-text {
  display: block;
  background: none;
  font-family: var(--font-baumans);
  font-weight: 25rem;
  font-size: 1rem;
}
