@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalam:wght@300;400;700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-navy: #102c57;
  --color-night: #183a6de6;
  --color-blue: #1d9ede;
  --color-pink: #ffb1b1;
  --color-light: #ffcbcb;
  --font-kalam: "Kalam", cursive;
  --font-montserrat: "Montserrat", sans serif;
  --font-inter: "Inter", sans serif;
  --font-krona-one: "Krona One", sans serif;
  --font-baumans: "Baumans", system-ui;
}

* {
  background-color: var(--color-navy);
  padding: 0%;
  margin: 0%;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  justify-content: space-between;
  display: flex;
}

.header-logo {
  padding-top: 10px;
  margin-left: 10px;
  width: 10%;
}

.header-titulo {
  color: white;
  display: flex;
  justify-content: center;
  font-family: var(--font-baumans);
  font-size: 55.46px;
  font-weight: 400;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

textarea {
  border-radius: 10px;
}

textarea:focus {
  outline: none;
}

#input {
  border: none;
  font-size: 32px;
  font-family: var(--font-kalam);
  color: var(--color-light);
}

::placeholder {
  color: var(--color-night);
}

.info {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#info-exclamation {
  background-color: red;
  size-adjust: 20%;
  display: flex;
}

#info-text {
  color: var(--color-light);
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 100;
}

.output-div {
  justify-content: center;
  align-items: stretch;
}

.output-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: stretch;
}

.panda {
  margin: 5px;
}

.output {
  border: dashed var(--color-pink);
}

.botones {
  border-radius: 10px;
  border: 0.05px solid;
  font-family: var(--font-montserrat);
}

.botones:hover {
  cursor: pointer;
}

.botones-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

#btn-encriptar {
  background-color: var(--color-blue);
  border-color: var(--color-light);
  color: var(--color-navy);
  font-size: 16px;
  font-weight: 400;
  padding: 24px;
}

#btn-desencriptar {
  background-color: var(--color-navy);
  border-color: var(--color-light);
  color: var(--color-pink);
  font-size: 16px;
  font-weight: 400px;
  padding: 24px;
}

#btn-copiar {
  background-color: var(--color-light);
  border-color: var(--color-navy);
  color: var(--color-navy);
  font-size: 16px;
  font-weight: 400px;
  padding: 24px;
  position: relative;
}

footer {
  display: flex;
  position: sticky;
  /* flex-wrap: wrap; */
  justify-content: center;
  background-color: var(--color-blue);
  font-size: 16px;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 15px;
  margin: auto;
}

.footer-bamboo {
  background: none;
  size: 18px;
  gap: 10px;
}

.footer-text {
  background: none;
  font-family: var(--font-baumans);
  font-weight: 400;
  font-size: 16px;
}
